<div class="card" style="width: 13rem; background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(0,0,0,1) 90%,rgba(0,0,0,1) 90%,rgba(0,0,0,1) 98%,rgba(0,0,0,1) 98%,rgba(0,0,0,1) 99%,rgba(17,17,17,1) 99%,rgba(43,43,43,1) 99%,rgba(0,0,0,1) 99%,rgba(17,17,17,1) 100%,rgba(19,19,19,1) 100%,rgba(28,28,28,1) 100%,rgba(17,17,17,1) 100%);  border-radius: 0; border: 1px solid #202020;">
        <%= image_tag product.photo, size:'205x155' %>
        <div class="card-body">
          <h5 class="card-title" ><%= product.name %></h5>
          <p class="card-text">Precio: <%= product.price %></p>
         <%= link_to 'Añadir', product_orders_path(product), data: { remote: true, method: :post}, class: ' btn btn-danger' %>
       
        </div>
      </div>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>